@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.headerLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.userLink {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.headerSearch {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #ebe9e9;
  border-radius: 1.5rem;
  padding: 1rem;
}

.headerSearchInput {
  padding: 0.7rem 0.5rem;
  font-size: 0.9rem;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  position: relative;
}

.textField {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
.headerIcon {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
}
.headerSearchBtn .headerIcon {
  display: none;
}
.searchWord {
  font-size: 1rem;
  display: block;
}
.locationIcon {
  color: var(--rose-500);
}

.guestOptions {
  background-color: #fff;
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid var(--text-100);
  position: absolute;
  top: 2rem;
  width: 220px;
  z-index: 1002;
}
.guestOptionItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.guestOptionItem:not(:last-child) {
  margin-bottom: 1rem;
}
.guestOptionItem span,
.guestOptionItem button {
  display: inline-block;
}
.guestOptionItem .optionCounterBtn {
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-600);
  background-color: var(--text-100);
}
.optionText {
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.date {
  position: absolute;
  top: 2rem;
  left: 0;
  max-width: 270px;
  z-index: 1002;
  border: 1px solid var(--text-100);
  box-shadow: 0 0 10px #efefef;
  border-radius: 1rem;
  overflow: hidden;
}
.rdrMonth{
  max-width: 270px;
}
.dateIcon {
  color: var(--primary-700);
}

.dateDropDown {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  
}

.headerSearchBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-600);
  color: #fff;
  padding: 0.6rem;
  border-radius: 0.7rem;
}

/*  location list */
.nearbyLocation {
  max-width: 1280px;
  margin: 2rem auto;
}
.nearbyLocation h2 {
  margin-bottom: 1rem;
}
.locationList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.locationItem img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.locationItemDesc > :not(:last-child) {
  margin-bottom: 0.2rem;
}

.locationItem .locationItemDesc .name {
  color: var(--text-400);
}
.locationItem .locationItemDesc .location {
  font-weight: 500;
}
.locationItem .locationItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.locationItem .locationItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

/* room detail */
.room {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  max-width: 1280px;
  margin: 0rem auto;
}

.roomIcon {
  color: var(--primary-700);
  margin-right: 0.5rem;
}

.roomDetail h2 {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}
.roomDetail > div {
  margin-bottom: 1rem;
}
.roomDetail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.8rem;
}

/* map */

.mapContainer {
  flex: 1;
  background-color: var(--text-100);
  position: relative;
}
.mapContainer button.getLocation {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  font-weight: bold;
  border-radius: 0.5rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: var(--primary-600);
  box-shadow: 0 0 10px var(--primary-600);
  color: #fff;
  z-index: 1000;
}
.map {
  height: 100%;
}

.searchList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.searchList .searchItem {
  display: flex;
  gap: 1rem;
}
.searchList .searchItem img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}
.searchItem .searchItemDesc p {
  margin-bottom: 0.3rem;
}
.searchItem .searchItemDesc .name {
  color: var(--text-400);
}
.searchItem .searchItemDesc .location {
  font-weight: 500;
}
.searchItem .searchItemDesc .price {
  font-weight: 500;
  display: flex;
  align-items: center;
}

.searchItem .searchItemDesc .price span {
  color: var(--text-400);
  font-weight: 400;
}

/* app layout */
.appLayout {
  max-width: 1400px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 130px);
 
}

.sidebar {
  height: calc(50vh - 130px);
  width: 100%;
  overflow-y: scroll;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.searchItem.current-hotel {
  border: 2px solid var(--primary-700);
  border-radius: 1rem;
}


/* bookmark page */
.bookmarkList {
  margin-top: 1rem;
}
.bookmarkItem {
  margin-bottom: 1rem;
  border: 1px solid var(--text-400);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bookmarkSingle h2 {
  margin: 1rem 0;
}
.bookmarkList .bookmarkItem.current-bookmark {
  border: 2px solid var(--primary-600);
  background-color: var(--text-100);
}

.currentBookmark h2 {
  margin: 1rem 0;
}

.bookmarkItem .trash {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}

/* form */

.form .formControl {
  margin-bottom: 1rem;
  position: relative;
}

.formControl label {
  display: block;
  margin-bottom: 0.2rem;
}

.formControl input {
  border: 1px solid var(--text-400);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.btn--primary {
  background-color: var(--primary-600);
  color: #fff;
}

.btn--back {
  border: 1px solid var(--text-400);
}

.formControl .flag {
  position: absolute;
  right: 1rem;
  top: 50%;
}

a.active {
  color: var(--primary-600);
  font-weight: 700;
}

.loginContainer {
  margin: 2rem auto;
  max-width: 25rem;
  border: 1px solid var(--text-300);
  padding: 1rem;
  border-radius: 1rem;
}

.loginContainer button {
  width: 100%;
}

.loginContainer h2 {
  margin-bottom: 1rem;
}

.icon.logout {
  color: var(--rose-500);
  width: 1.1rem;
  height: 1.1rem;
}
.userLogout{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


/* --------------------------------------------------- */

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .headerSearch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    border: 1px solid #ebe9e9;
    border-radius: 1.5rem;
    padding: 1rem;
  }
  .headerSearchItem .seperator {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: var(--text-400);
    margin: 0 1rem;
  }
  .headerIcon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
  }
  .searchWord {
    display: none;
  }
  .headerSearchBtn .headerIcon {
    display: inline-block;
  }
  .headerSearchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-600);
    color: #fff;
    padding: 0.6rem;
    border-radius: 1rem;
  }
  .headerLinks {
    width: auto;
    display: flex;

    justify-content: flex-start;
    gap: 1rem;
  }
  .userLink {
    width: auto;
  }
  .headerSearchInput {
    font-size: 1rem;
  }
  .appLayout {
    flex-direction: row;
    align-items: stretch;
  }
  .sidebar {
    width: 50%;
    height: calc(100vh - 130px);
    margin-bottom: 0;
  }
  .room {
    margin: 2rem auto;
  }

  .date {
    left: -5rem;
    max-width: none;
  }
  .rdrMonth{
    max-width: none;
  }
  
}

